# Import packages

In [ ]:
import pandas as pd

# Load .csv File

In [ ]:
#Let's eyeball the dataset to check if the company provided the information we want and to have a general idea of what is going on
filename = "Absenteeism-data.csv"
raw_csv_data  = pd.read_csv(filename)
raw_csv_data

# Copying Raw Data

In [ ]:
#Pandas DataFrames are mutable, so working directly with the original data can lead to unintended changes
#Make a copy of the raw data so that the original file is avialable if we make mistakes
df = raw_csv_data.copy()
df

# Display options

In [ ]:
#Display all the data
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [ ]:
# Check for mmissing values as you eyeball the data
display(df)

In [ ]:
# Let's print a concise summary of the dataframe with the .info()  method directly to df
df.info()

# Drop ID Column

In [ ]:
# ID numberwill not be useful in helping predict absenteeism as it only identifies individuals (label variable or nominal)
# Apply the drop() method to df
# This method delivers a temporary oputput so assign variable df as shown
df = df.drop(['ID'], axis = 1)

In [ ]:
df

#  Reasons for absence

In [ ]:
#let's take a cloer look at this attribute
df['Reason for Absence']

In [ ]:
#Let's find the lowest and highest stored values
df['Reason for Absence'].min()

In [ ]:
df['Reason for Absence'].max()

In [ ]:
#Let's extract a list containing distinct values only
#List and only shown once
pd.unique(df['Reason for Absence'])

In [ ]:
df['Reason for Absence'].unique()

In [ ]:
#Let's find out how many distinct elements we have
len(df['Reason for Absence'].unique())

In [ ]:
#From min and max we discovered that the number of reasons are 0 to 28 i.e 29 reasons
# From len() we only have 28 so a number between 0 and 28 is missing!
#Let's sort the elements

print(sorted(df['Reason for Absence'].unique()), end = ' ')

In [ ]:
#Let's add numeric meaning to the categorical nominal values in the 'Reason for Absence' column.
#Introduce dummy variable, a numeric variable that encodes categorical information. 
#Dummy variables have two possible values: 0 or 1
#Use .get_dummies() 

reason_columns = pd.get_dummies(df['Reason for Absence'], dtype = int)

In [ ]:
reason_columns

In [ ]:
#Let's confirm that each row has sum of 1 which confirms that one reason for absence has been given

reason_columns['check']  = reason_columns.sum(axis=1)
reason_columns

In [ ]:
reason_columns['check'].sum(axis=0)

In [ ]:
reason_columns['check'].unique()

In [ ]:
#We have verified that the 'reason for absence' dummy variables are alright so we can drop the 'check' column

reason_columns = reason_columns.drop(['check'], axis = 1)
reason_columns

# Drop the first column (reason 0)

In [ ]:
# Further analysis of the data (for example, with the code df[df['Reason for Absence'] == 0] shows that
# every person with reason 0 actually had 0 absenteeism hours.
# Reason 0 might be a placeholder for "No absence", So this reason doesn't matter much in this analysis and can be dropped

df[df['Reason for Absence'] == 0]

In [ ]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True, dtype = int)

In [ ]:
reason_columns

# Group the Reasons for Absence

In [ ]:
#Let's recall the df column names
df.columns.values

In [ ]:
df.head(0)

In [ ]:
#Recall the reason_columns values
reason_columns.columns.values

In [ ]:
# Drop 'Reason for Absence' column from df dataframe
df = df.drop(['Reason for Absence'], axis = 1)

In [ ]:
#confirm it has been dropped
df.head(3)

In [ ]:
#Dummy/indicator variables increases the number of columns in the data table
#Group variables (reasons for absence) to avoid having too many columns
#Classify reasons for absence into groups with important commonalities
#Group 1: Columns 1 to 14, Group 2: Columns 15, 16, and 17, Group 3: Columns 18, 19, 20, and 21 and Group 4: Columns 22 to 28
#Use the .loc method to split into these groups
#Then confirm the splits

reason_columns.loc[:, 1:14].head(5)

In [ ]:
reason_columns.loc[:, 15:17].head(5)

In [ ]:
reason_columns.loc[:, 18:21].head(5)

In [ ]:
reason_columns.loc[:, 22:28].head(5)

In [ ]:
#We have split into 4 groups so we cannot use the .sum() to check 
#Find the maximum value in each group 
# A maximum value of 1 means among each group the number one has been observed
# A maximum of 0 would mean there is no value on the given rows equal to 1

reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:28].max(axis=1)

# Concatenate Column Values

In [ ]:
df.head()

In [ ]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)
df.head()

In [ ]:
df.columns.values

In [ ]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
                'Daily Work Load Average', 'Body Mass Index', 'Education',
                'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [ ]:
df.columns = column_names
df.head()

# Reorder Columns

In [ ]:
column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
                'Daily Work Load Average', 'Body Mass Index', 'Education',
                'Children', 'Pets', 'Absenteeism Time in Hours' ]

In [ ]:
df = df[column_names_reordered]
df.head()

# Creating Checkpoints

In [ ]:
df_checkpoint = df.copy()
df_checkpoint.head()

In [ ]:
#Let's rename the modified dataframe, which we will work with from now on
df_reason_mod = df.copy()

df_reason_mod

# Date

In [ ]:
#Let's check the contents of the date column
df_reason_mod['Date']

In [ ]:
type(df_reason_mod['Date'])

In [ ]:
#Check the data type of the first value of this series
type(df_reason_mod['Date'][0])

In [ ]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [ ]:
df_reason_mod['Date']

In [ ]:
#Check the new data type
type(df_reason_mod['Date'][0])

In [ ]:
df_reason_mod.info()

# Extract the Month Value

In [ ]:
df_reason_mod['Date'][0]

In [ ]:
#Months take values from 1 to 12

df_reason_mod['Date'][0].month

In [ ]:
list_months = []
list_months

In [ ]:
df_reason_mod.shape

In [ ]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [ ]:
print(list_months, end = '')

In [ ]:
len(list_months)

In [ ]:
df_reason_mod['Month Value'] = list_months

In [ ]:
df_reason_mod.head()

# Extract the Day of the Week

In [ ]:
#0 is a Monday and then squentially up to 6 which is Sunday
df_reason_mod['Date'][699].weekday()

In [ ]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [ ]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [ ]:
df_reason_mod.head()

# Turning the data from the ‘Education’ column into binary data

In [ ]:
df_reason_mod['Education'].unique()

In [ ]:
df_reason_mod['Education'].value_counts()

In [ ]:
# 1 represents high school, 2 stands for graduate, 3 for postgraduate and 4 for masters or doctorate
# Roughly 600 people have a high school diploma, the rest hold a university degree
#Makes sense to have 2 categories: high school = 0 and the rest = 1

df_reason_mod['Education'] = df_reason_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [ ]:
df_reason_mod['Education'].unique()

In [ ]:
df_reason_mod['Education'].value_counts()

In [ ]:
df_reason_mod.head()

In [ ]:
df_reason_mod = df_reason_mod.drop(['Date'],axis = 1)

In [ ]:
df_reason_mod.head()

In [ ]:
df_reason_mod.columns

In [ ]:
final_column_order = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
                 'Month Value', 'Day of the Week','Transportation Expense', 
                 'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index', 
                 'Education', 'Children', 'Pets', 'Absenteeism Time in Hours']

In [ ]:
df_reason_mod = df_reason_mod[final_column_order]

In [ ]:
df_reason_mod.head()

# Final Checkpoint

In [ ]:
df_cleaned = df_reason_mod.copy()
df_cleaned